<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalliSanthe"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HalliSanthe.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.HalliSanthe.NoActionBar" />

        <activity
            android:name=".activities.UploadProductActivity"
            android:exported="false"
            android:theme="@style/Theme.HalliSanthe.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.HalliSanthe.NoActionBar" />

        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.HalliSanthe.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.FavoritesActivity"
            android:exported="false"
            android:theme="@style/Theme.HalliSanthe.NoActionBar" />

    </application>

</manifest>